.sticky{
    position: sticky;
    border: 2px solid palevioletred;
    top :0;
}
.fixed{
    position:fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid rgb(132, 121, 197);
}